html {
    box-sizing: border-box;
  }


  *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}





.container{
  /* width: 1110px;  
  margin: 0 auto; */


    width: 100%;
    margin: 0 auto;

}
    ul{
        padding: 0;
        margin: 0 ;
        list-style: none;
    }
    a{
        text-decoration: none;
    }
.heder{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* width: ; */
  text-align: center;
    /* width: 1280px; */

}
.page-nav{
box-sizing: border-box;
width: 1200px;
/* height: 55px; */
display: flex;
justify-content: space-between;
background-color: #1f1f56;
padding-top: 22px;
padding-left: 120px;
padding-right: 120px;
padding-bottom: 20px;


}
.site-navigation {
 display: flex; 
 column-gap: 30px;
padding-top: 15px;
padding-bottom: 15px;

}
.site-item:hover{
color: #d68c1d;
}
.site-navigation a{
font-size: 14px;
letter-spacing: 2px;
line-height: 24px;
color: #b1b1d2;
font-family: "Arial";
}
.site-icon{
display: flex;
column-gap: 30px;
 cursor: pointer;
 padding-top: 15px;
 padding-bottom: 15px;
}



.block_container {
    width: 910px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    /* padding-left: 120px; */
    padding-bottom: 30px;
}

/* .site_logo{
    padding-left: 120px;
    padding-top: 30px;
} */
.site_logo img {
    padding-top: 10px;
}
.tiny_block{
    width: 220px;
    /* padding-top: 30px; */

}

.phone{
margin-right: 20px;

}
.block_contact-1{
  padding-top: 12px;
}
.block_contact-1 p a{
margin-bottom: 0;
margin-top: 10px;

  /* padding-left: 25px; */
  font-size: 18px;
line-height: 24px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
position: relative;
}
.block_contact-1 p:nth-child(1){
  margin-bottom: 10px;
}
.phone-one{
  position: absolute;
  left: 18px;
/* top: 15px; */
}
.block_contact-2{
  padding-top: 12px;
}
.block_contact-2 p a {
margin-bottom: 0;
margin-top: 10px;
padding: 0;
/* padding-left: 25px; */
font-size: 16px;
line-height: 24px;
color: #25252c;
font-family: "Arial";
position: relative;
}
.block_contact-2 p:nth-child(1){
  margin-bottom: 10px;
}
.phone-too{
  position: absolute;
  right: 50px;
}
.underline{
    text-decoration: underline;
   color: #666666;
}

.block_buttom {
padding-top: 10px;
}
.block_buttom-contact {
    width: 200px;
    height: 51px;
border-radius: 25px;
background-color: #ffffff;
border: 2px solid #fd8300;
    /* font-size: 16px;
line-height: 24px;
color: #25252c;
font-weight: bold;
font-family: "Arial"; */

}
.butoom{
  font-size: 16px;
line-height: 24px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
}
.baner{
  position: relative;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  /* left: 40px; */
  text-align: center;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.329);
  /* opacity: 0.302; */
 color: #ffffff;
}
.baner p{
    display: block;


}
.text_1{
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  /* color: #1a1818; */
  font-weight: 700;
  font-family: "Roboto Slab";
}
.text_2{
  /* display: block; */
  margin: 20px;
}
.text_3{
  color: #fd8300;
  font-size: 40px;
  font-weight: bold;
  font-family: "Arial";
}
.baner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 200px;
  background-image: url("../img/social-contact/Layer\ 74.png");
  z-index: -1;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
}

.main{
  
  width: 960px;
  /* height: 1000px; */
  margin: 0 auto;
  /* margin-top: 40px; */
  padding-top: 40px;
  display: flex;
  justify-content:space-between ;
  position: relative;
}
.main_container{
  /* width: 720px; */
}




/* *******praise********* */
.wrapper-praice{
  /* width: 960px; */
  margin: 0;
  margin-bottom: 40px;
}
.site_title{
font-size: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";

}

.site-text{
/* width: 677px; */
height: auto;
font-size: 14px;
line-height: 24px;
color: #666666;
font-family: "Arial";
margin-bottom: 30px;
}


table{
width: 960px;
border-collapse: collapse;
}
thead{
  cursor: pointer;
}
tbody tr {

font-size: 14px;
line-height: 24px;
color: #666666;
font-family: "Arial";
border-bottom: 1px solid #ddd;
text-align: left;
}

tbody tr:hover {
background-color: #fd8300;
color: #ffffff;
cursor: pointer;
}
tbody  td{
  padding: 4px 16px;
}

.table-td{
  text-align: right;


}
.title{
text-align: left;
/* border: none; */
font-size: 14px;
line-height: 24px;
color: #ffffff;
font-weight: 700;
font-family: "Roboto Slab";
background-color:  #1f1f56;
}


th{
  padding: 20px 16px;
}

tbody {
background-color: #e4e4ec;
}
.site-text-2{
width: 942px;
height: 56px;
margin-top: 20px;
font-size: 13px;
line-height: 21px;
color: #666666;
font-family: "Arial";
}
.text-decoretion{
font-size: 14px;
line-height: 25px;
text-decoration: underline;
color: #fd8300;
font-weight: bold;
font-family: "Arial";
cursor: pointer;
}


.container-praice-figure{
    width: 960px;
    height: 250px;
    display: flex;
    justify-content: space-between;

}
/* ******end******* */











.contact{
font-size: 24px;
line-height: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";



}
.wrapper{
    /* width: 650px; */
    margin: 0;
    margin-bottom: 40px;
}
.site_title{
font-size: 30px;
line-height: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";

}

.site-text{
/* width: 677px; */
height: auto;
font-size: 14px;
line-height: 24px;
color: #666666;
font-family: "Arial";
margin-bottom: 30px;
}

.text-decoretion{
font-size: 14px;
line-height: 25px;
text-decoration: underline;
color: #fd8300;
font-weight: bold;
font-family: "Arial";
cursor: pointer;
}
.site_title-2{
height: 100px;
margin-bottom: 30px;
font-size: 24px;
line-height: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab"; 
/* border-top: 1px solid #e4e4ec; */

padding-top: 40px;
}

.shop_img{
    width: 220px;
    height: 150px;
}




.container_figure{
    width: 720px;
    height: 250px;
    display: flex;
    justify-content: space-between;

}

.text-heder{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin-bottom: 10px;
    }
    .text-heder:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #1f1f56;
    }

    .text-figcaption{
        width: 220px;
height: auto;
font-size: 13px;
line-height: 18px;
color: #9999a6;
font-family: "Arial";
    }

.side_bar{
  height: min-content;
 
}
.aside-menu_item{
  width: 220px;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  display: block;
  color: #25252c;
  box-shadow: inset 0px -1px 0px #cecedd;
  
}
li:hover .aside-menu_item--orange-hover{
  background-color: #d68c1d;
  color: #fff;
}

.aside-menu_item--orange-hover::before{
  content: "";
  top: 18px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.aside-menu_item--orange-hover{
  position: relative;
}

li:hover .aside-menu_item--orange-hover::before{
  transform: rotate(135deg);
}
.side_bar-list{
  /* height: 70px; */
  line-height: 24px;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: #25252c;
padding-bottom: 10px;

  
}
/* .aside a, .side_bar-title{
  width: 220px;
 
  padding: 15px;
  line-height: 24px;
  box-sizing: border-box;
} */

.side_bar, .drop_down-list-1, .side_bar-title{
  width: 220px;
  /* padding: 15px; */
  line-height: 24px;
  box-sizing: border-box;
}

.side_bar, .drop_down-list-1{
  /* position: relative; */
    color: #25252c;
    font-family: "Arial";
    font-size: 14px;
    background-color: #e4e4ec;
    box-shadow: inset 0px -1px 0px #cecedd;
}
.drop_down-list-1{
  display: block;

  
}
.side_bar-title{
  height: 50px;
  padding: 15px;
  background-color: #1f1f56;
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Slab";
}
aside, .side_bar-list:hover{
  background-color: #fd8300;
  color: var(--light-gray);
  cursor: url("cursor.cur"), pointer;
}
.drop_down-list{
  display: none;
}

li:hover>.drop_down-list{
  display: block;
}
.drop_down-list a:hover{
  background-color: #cecedd;
  color: #666666;
}

.drop_down-list a{
  padding-left: 30px;
}
.bef{
  padding-top: 20px;
  width: 219px;
/* height: 60px; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}
.side_bar>.menu-aside>.bef>.side_bar-list::before{
  content: "";
  top: 80px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.side_bar .bef:hover>.side_bar-list::before{
  transform: rotate(135deg);

}
.bef-1{
  padding-top: 20px;
  width: 219px;
/* height: 60px; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}

.side_bar>.menu-aside>.bef-1>.side_bar-list::before{
  content: "";
  top: 120px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.side_bar .bef-1:hover>.side_bar-list::before{
  transform: rotate(135deg);


}
.bef-2{
  padding-top: 20px;
  width: 219px;
/* height: 60px; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}
.side_bar>.menu-aside>.bef-2>.side_bar-list::before{
  content: "";
  top: 180px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.side_bar .bef-2:hover>.side_bar-list::before{
  transform: rotate(135deg);
  
}
.bef-3{
  padding-top: 20px;
  width: 219px;
/* height: 6dvi; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}
.side_bar>.menu-aside>.bef-3>.side_bar-list::before{
  content: "";
  top: 240px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.side_bar .bef-3:hover>.side_bar-list::before{
  transform: rotate(135deg);
  
}
.bef-4{
  padding-top: 20px;
  width: 219px;
/* height: 60px; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}
.side_bar>.menu-aside>.bef-4>.side_bar-list::before{
  content: "";
  top: 300px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.side_bar .bef-4:hover>.side_bar-list::before{
  transform: rotate(135deg);
  
}
.bef-5{
  
padding-top: 20px;
  width: 219px;
/* height: 60px; */
box-shadow: inset 0px -1px 0px #cecedd;
background-color: #e4e4ec;
}
.side_bar>.menu-aside>.bef-5>.side_bar-list::before{
  content: "";
  top: 355px;
  right: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #666666;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}
.side_bar .bef-5:hover>.side_bar-list::before{
  transform: rotate(135deg);
  
}

/* **************Контакти********** */
.hr{
border: none;
background-color:  #ededf5; 
/* color: rgb(116, 111, 111);  */
height: 3px;
/* background: linear-gradient(0 0 5px rgba(0,0,0,0.1)); */
  /* width: 1200px; */
/* height: 4px; */
filter: drop-shadow(0 0 5px rgba(0,0,0,0.1));
/* background-color: #ffffff; */

}
.main-c{
  
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}
.wrapper-contact{
  margin-top: 30px;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.list{
  margin-bottom: 20px;
}
.list-name{
  font-size: 14px;
line-height: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
}
.list-last-name{
  font-size: 14px;
line-height: 21px;
color: #666666;
font-family: "Arial";
}
.list-contact{
  font-size: 18px;
line-height: 24px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
}
.list-email{
  font-size: 16px;
line-height: 24px;
text-decoration: underline;
color: #25252c;
font-family: "Arial";
}
.hr-border{
  border: none;
  height: 1px;
margin-top: 40px;
background-color: #ededf5;
}
.wrapper-cart{
 
  margin-top: 70px;
  margin-bottom: 60px;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
/* iframe {
  width: 400px;
  height: 300px;
} */
form{

  width: 470px;
margin-left: 10px;
 
}
.form-p{
  margin-bottom: 10px;
  font-size: 14px;
line-height: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
}
.input{
  margin-bottom: 10px;
  font-size: 13px;
line-height: 21px;
color: #9999a6;
font-style: italic;
font-family: "Arial";
}
.border-input{
width: 228px;
height: 40px;
border-radius: 3px;
background-color: #ffffff;
border: 1px solid #c5c5d4;
}
.input-retreat{
  margin-right: 6px;
}
.text-border{
  width: 466px;
height: 40px;
border-radius: 3px;
background-color: #ffffff;
border: 1px solid #c5c5d4;
}
.textarea-border{
  width: 466px;
height: 105px;
border-radius: 3px;
background-color: #ffffff;
border: 1px solid #c5c5d4;
}
.class-button{
  width: 140px;
height: 41px;
border-radius: 21px;
background-color: #fd8300;
font-size: 14px;
line-height: 24px;
color: #ffffff;
font-weight: bold;
font-family: "Arial";
text-align: center;
border: none;
margin-right: 20px;
cursor: pointer;
}



.input-checkbox{
width: 15px;
height: 15px;
border-radius: 3px;
background-color: #ffffff;
border: 1px solid #c5c5d4;

}
.input-checkbox:checked::after{
  background-color: #f11616;
  color: #000;
}
.label-form{
  font-size: 13px;
line-height: 21px;
color: #666666;
font-family: "Arial";
}
.block_footer{

margin-top: 10px;
height: 150px;

/* position: relative; */
}



      
      .footer_wrapper-1{

        display: flex;
        justify-content: center;
      background-color:  #ededf5;
      /* padding-top: 20px; */
      
      }


.footer_list{
  width: 230px;
  padding-top: 20px;

}


    

      .footer_list-title a:hover{
        text-decoration: underline;
        color: #d68c1d;
      }

.footer_list-title a{

  font-size: 14px;
line-height: 26px;
color: #666666;
font-family: "Arial";
}
.footer_list-title-1 a{
font-size: 18px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
}
.footer-title{
  padding-left: 36px;
}

.footer_list-title-2 a{
  font-size: 16px;
color: #25252c;
font-family: "Arial";

}
/* .footer_list-title-2{
  text-align: ;
} */
.footer_wrapper-2{
padding: 15px;
text-align: center;
font-size: 13px;
color: #9999a6;
font-family: "Arial";
background-color: #dcdce6;
}